-- Migration: Create TOEFL ITP Tables
CREATE TABLE IF NOT EXISTS public.toefl_participants (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  email text NOT NULL,
  created_at timestamp with time zone DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.toefl_attempts (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  participant_id uuid REFERENCES public.toefl_participants(id) ON DELETE CASCADE,
  section text NOT NULL,
  started_at timestamp with time zone DEFAULT now(),
  completed_at timestamp with time zone,
  score int,
  total int,
  answers jsonb
);
